<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyTestSuite">
    <test name="test">
        <classes>
            <class name="test.AmazonSignInTest"/>
            <class name="test.AddProductsBelow15KToTheCartTest"/>
            <class name="test.CheckOutTest"/>
            <!-- Add more test classes as needed -->
        </classes>
    </test>
</suite>
